.image-input .image-input-wrapper {
    width: 322px;
    height: 175px;
    border-radius: 0.42rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.card.card-custom,.subheader {
    margin: 0 auto;
}
.imgPreview {
    width: 150px;
}

.filter-input {
    width: 100px;
}

.multiselect-container.dropdown-menu.show {
    height: 150px;
    overflow: hidden;
}